In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import sklearn
from sklearn import linear_model
%matplotlib inline 
pd.options.display.float_format = '{:.3f}'.format

# Suppress annoying harmless error.
import warnings
warnings.filterwarnings(action="ignore", module="scipy", message="^internal gelsd")

In [2]:
df = pd.read_csv('Offenses known 2013.csv', skiprows=4)

In [3]:
df.columns

Index(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter',
       'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2',
       'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary',
       'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson3'],
      dtype='object')

In [4]:
df.head(20)

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3
0,Adams Village,"1,861",0,0.000,nan,0,0,0,12,2,10,0,0.000
1,Addison Town and Village,"2,577",3,0.000,nan,0,0,3,24,3,20,1,0.000
2,Akron Village,"2,846",3,0.000,nan,0,0,3,16,1,15,0,0.000
3,Albany,"97,956",791,8.000,nan,30,227,526,"4,090",705,"3,243",142,nan
4,Albion Village,"6,388",23,0.000,nan,3,4,16,223,53,165,5,nan
5,Alfred Village,"4,089",5,0.000,nan,0,3,2,46,10,36,0,nan
6,Allegany Village,"1,781",3,0.000,nan,0,0,3,10,0,10,0,0.000
7,Amherst Town,"118,296",107,1.000,nan,7,31,68,"2,118",204,"1,882",32,3.000
8,Amityville Village,"9,519",9,0.000,nan,2,4,3,210,16,188,6,1.000
9,Amsterdam,"18,182",30,0.000,nan,0,12,18,405,99,291,15,0.000
10,Arcade Village,"2,053",0,0.000,nan,0,0,0,39,3,35,1,0.000
11,Ardsley Village,"4,523",5,0.000,nan,0,3,2,33,4,28,1,0.000
12,Asharoken Village,658,0,0.000,nan,0,0,0,2,0,2,0,0.000
13,Attica Village,"2,522",2,0.000,nan,0,0,2,5,0,4,1,0.000
14,Auburn,"27,270",96,1.000,nan,20,22,53,859,132,721,6,nan
15,Avon Village,"3,333",1,0.000,nan,0,1,0,25,3,20,2,nan
16,Baldwinsville Village,"7,473",5,0.000,nan,0,1,4,88,10,77,1,0.000
17,Ballston Spa Village,"5,418",8,0.000,nan,0,3,5,94,16,78,0,1.000
18,Batavia,"15,374",57,0.000,nan,7,13,37,559,103,454,2,nan
19,Bath Village,"5,733",15,0.000,nan,1,3,11,191,32,157,2,2.000

In [5]:
# Check what type of data I have.
df.dtypes

City                                       object
Population                                 object
Violent\ncrime                             object
Murder and\nnonnegligent\nmanslaughter    float64
Rape\n(revised\ndefinition)1              float64
Rape\n(legacy\ndefinition)2                object
Robbery                                    object
Aggravated\nassault                        object
Property\ncrime                            object
Burglary                                   object
Larceny-\ntheft                            object
Motor\nvehicle\ntheft                      object
Arson3                                    float64
dtype: object

In [6]:
# Rename murder to a more convenient name.
df['Murder'] = df['Murder and\nnonnegligent\nmanslaughter']

# first remove the commas 
df['Robbery'] = df['Robbery'].str.replace(',', '')
df['Population'] = df['Population'].str.replace(',', '')

In [7]:
# change robbery, and population to int.
df[['Robbery', 'Population', 'Murder']] = df[['Robbery', 'Population', 'Murder']].apply(pd.to_numeric)

In [12]:
# Make population squared.
df['Popsqrd'] = df['Population'] * df['Population']

In [15]:
# Remove the Nan and show that my data is now useable. 
print(df[['City', 'Population', 'Popsqrd', 'Murder', 'Robbery' ]].dropna())

                           City  Population         Popsqrd  Murder  Robbery
0                 Adams Village    1861.000     3463321.000   0.000    0.000
1      Addison Town and Village    2577.000     6640929.000   0.000    0.000
2                 Akron Village    2846.000     8099716.000   0.000    0.000
3                        Albany   97956.000  9595377936.000   8.000  227.000
4                Albion Village    6388.000    40806544.000   0.000    4.000
5                Alfred Village    4089.000    16719921.000   0.000    3.000
6              Allegany Village    1781.000     3171961.000   0.000    0.000
7                  Amherst Town  118296.000 13993943616.000   1.000   31.000
8            Amityville Village    9519.000    90611361.000   0.000    4.000
9                     Amsterdam   18182.000   330585124.000   0.000   12.000
10               Arcade Village    2053.000     4214809.000   0.000    0.000
11              Ardsley Village    4523.000    20457529.000   0.000    3.000
12            Asharoken Village     658.000      432964.000   0.000    0.000
13               Attica Village    2522.000     6360484.000   0.000    0.000
14                       Auburn   27270.000   743652900.000   1.000   22.000
15                 Avon Village    3333.000    11108889.000   0.000    1.000
16        Baldwinsville Village    7473.000    55845729.000   0.000    1.000
17         Ballston Spa Village    5418.000    29354724.000   0.000    3.000
18                      Batavia   15374.000   236359876.000   0.000   13.000
19                 Bath Village    5733.000    32867289.000   0.000    3.000
20                 Bedford Town   17627.000   310711129.000   0.000    1.000
21               Bethlehem Town   34243.000  1172583049.000   0.000    3.000
22                   Binghamton   46304.000  2144060416.000   3.000  101.000
23                  Black River    1410.000     1988100.000   0.000    0.000
24          Blooming Grove Town   12001.000   144024001.000   0.000    0.000
25              Bolivar Village    1022.000     1044484.000   0.000    0.000
26                  Bolton Town    2325.000     5405625.000   0.000    0.000
27            Boonville Village    2054.000     4218916.000   0.000    0.000
28                   Brant Town    2065.000     4264225.000   0.000    1.000
29                     Brewster    2358.000     5560164.000   0.000    0.000
..                          ...         ...             ...     ...      ...
318         Tupper Lake Village    3642.000    13264164.000   0.000    0.000
319         Tuxedo Park Village     615.000      378225.000   0.000    0.000
320                 Ulster Town   12195.000   148718025.000   0.000    2.000
321                       Utica   61686.000  3805162596.000   7.000  102.000
322                 Vestal Town   27980.000   782880400.000   0.000    6.000
323              Walden Village    6887.000    47430769.000   1.000    1.000
324               Wallkill Town   27940.000   780643600.000   0.000   16.000
325              Walton Village    3012.000     9072144.000   0.000    0.000
326              Warsaw Village    3453.000    11923209.000   0.000    0.000
327     Washingtonville Village    5828.000    33965584.000   0.000    1.000
328  Waterford Town and Village    8392.000    70425664.000   0.000    0.000
329            Waterloo Village    5175.000    26780625.000   0.000    3.000
330                   Watertown   28179.000   794056041.000   0.000   16.000
331                  Watervliet   10245.000   104960025.000   1.000   11.000
332        Watkins Glen Village    1862.000     3467044.000   0.000    0.000
333             Waverly Village    4337.000    18809569.000   0.000    1.000
334    Webster Town and Village   43777.000  1916425729.000   0.000    3.000
335           Weedsport Village    1797.000     3229209.000   0.000    0.000
336          Wellsville Village    4574.000    20921476.000   0.000    0.000
337   Westhampton Beach Village    1732.000     2999824.000   0.000    0.000
338            West Seneca Town   44821.000  2008922041.000   1.000    9.000
339           Whitehall Village    2604.000     6780816.000   0.000    0.000
340                White Plains   57559.000  3313038481.000   1.000   28.000
341          Whitesboro Village    3733.000    13935289.000   0.000    0.000
342             Whitestown Town    9141.000    83557881.000   0.000    0.000
343               Woodbury Town   10685.000   114169225.000   0.000    2.000
344           Woodridge Village     829.000      687241.000   0.000    0.000
345              Woodstock Town    5931.000    35176761.000   0.000    0.000
346                     Yonkers  199134.000 39654349956.000   6.000  390.000
347               Yorktown Town   36643.000  1342709449.000   0.000    2.000

[348 rows x 5 columns]